* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8fb517;
}

.contenedor {
    background-color: #fff;
    width: 500px;
    height: 450px;
    margin: 0 auto;
    margin-top: 95px;
    border-radius: 15px;
    box-shadow: 1rem;
}

.titulo {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.titulo h1 {
    margin-top: 20px;
    background-color: #fff;
}

.inputs {
    margin-left: 90px;
    margin-top: 50px;
    background-color: #fff;
}

.inputs input {
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

.inputs input::placeholder {
    color: black;
}

.boton {
    background-color: #fff;
    margin-left: 170px;
    margin-top: 50px;
}

.boton button  {
    color: black;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
